/* Global site CSS settings */
* {
    font-family:sans-serif;
    font-weight: lighter;
}

div {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    font-weight: bold;
}

p {
    font-size: larger;
    font-style: italic;
}

small {
    color:darkslategray;
    font-style: italic;
    font-size:medium;
}

.jumbotron {
    background-color: lightskyblue;
}

.title {
    background-color: lightgray;
    color: darkslateblue;
    border-bottom-style: solid;
    border-color: black;
    font-style: bold;
}
